:root {
    --technet: #5CB6F9;
}

#offersTxt {
    display: inline;
}

footer {
    position: relative;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: var(--technet);
    padding-top: 2%;
    padding-left: 1%;
    font-size: 20px;
    margin-bottom: -100px;
    padding-bottom: 2%;
    z-index: 1;
}

footer a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    color: black;
}

footer a:hover {
    transition-duration: 1s;
    text-decoration: none;
}

#footerMenu {
    text-align: center;
}

#footerMenu a {
    margin-right: 10%;
}

#footerOffers a {
    margin-right: 3%;
}

.fa-instagram {
    background: none;
    color: rgb(197, 84, 46);
    text-decoration: none;
    margin-left: 1%;
}

#sloganFooter {
    text-align: center;
    color: white;
    font-weight: bold;
}

hr {
    color: goldenrod
}

#yearTechnet {
    text-align: center;
}

#githubLogo {
    width: 1.5%;
    margin-left: 1%;
}