.navRow1{
    background-color: #5CB6F9;
    max-height: 70px;
}

.navTable {
    background-color: #5CB6F9;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    position:fixed;
}
.navTable td{
    border: black;
    border-style: solid;
    transition: 0.3s;
}

.navTable td:hover{
    background-color:#f7fdff;
    border: black;
    border-style: solid;
}

.navTable td a{
    color:black;
    font-size: 30px;
    text-decoration: none;
}

.navTable td:not(:first-child){
    align-items: center;
    padding-left: 50px ;
    padding-right: 50px;
    text-align: center;
    
}

#changeThemeBtn {
    padding: 40%;
    border-radius: 100%;
    border: none;
    background-color: black;
    cursor: pointer;
}

#germanImg {
    width: 30px;
    height: auto;
    background-color: inherit;
    cursor: pointer;
}