.navRow1{
    background-color: green;
}
.navTable {
    background-color: purple;
    width: 100%;
    
}
.navTable td{
    align-items: center;
    padding-left:50px ;
    padding-right: 50px;
    text-align: center;}

.logo1img,
.logo1td{
    max-width: 50px;
    max-height: auto;
    
}


body{
    margin:0;
}

#logo1{
    margin:0;
    padding:0;
    width: 40%;
}