.navRow1{
    background-color: green;
    max-height: 70px;
}

.navTable {
    background-color: purple;
    border: none;
    width: 100%;
}
.navTable td:not(:first-child){
    align-items: center;
    padding-left:50px ;
    padding-right: 50px;
    text-align: center;
}

body{
    margin:0;
    padding:0;
}

#logo1{
    padding:0;
    margin:0;
    width: 100%;
    height: 70px;
}